---
import ColorCardComponent from "../components/atoms/ColorCardComponent.astro";
import DocsLayout from "../layouts/DocsLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <DocsLayout
    menuElements={['blackColors','whiteColors', 'colorPalettes', 'gradients']}
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
      <ColorCardComponent colorName="Velvet Aubergine" hexCode="#190B14" />
      <ColorCardComponent colorName="Chocolate Noir" hexCode="#262020" />
      <ColorCardComponent colorName="Forest Shadow" hexCode="#0E1514" />
      <ColorCardComponent colorName="Midnight Sapphire" hexCode="#0B1623" />

      <ColorCardComponent colorName="Charcoal Gray" hexCode="#171717" />
      <ColorCardComponent colorName="Oil Black" hexCode="#0C0C0C" />
      <ColorCardComponent colorName="Obsidian" hexCode="#0B1215" />
      <ColorCardComponent colorName="Midnight Blue" hexCode="#101720" />

      <ColorCardComponent colorName="Dark Slate Gray" hexCode="#0D1717" />
      <ColorCardComponent colorName="Rich Black" hexCode="#020D19" />
      <ColorCardComponent colorName="Deeo Navy Blue" hexCode="#011222" />
    </div>
  </DocsLayout>
</Layout>
