---
import ColorCardComponent from "../components/atoms/ColorCardComponent.astro";
import DocsLayout from "../layouts/DocsLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <DocsLayout
    menuElements={['blackColors','whiteColors', 'colorPalettes', 'gradients']}
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
        <ColorCardComponent colorName="Bone" hexCode="#E1E9E5" />
        <ColorCardComponent colorName="EggShell" hexCode="#F3F4E5" />
        <ColorCardComponent colorName="Pale Nimbus" hexCode="#ECF4E5" />
      <ColorCardComponent colorName="Off White" hexCode="#F1F1F1" />
      <ColorCardComponent colorName="Unhinged White" hexCode="#E1DFEA" />
    </div>
  </DocsLayout>
</Layout>
